<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="nbsbattleinst4outlook.onmicrosoft.com" />
    <add key="ida:TeamAppId" value="dc0f41ba-8f02-4a84-b903-e620ead16608" />
    <add key="ida:TeamAppSecret" value="ae89e21e-beb7-440c-a63d-18ae991d5e96" />
    <add key="ida:RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />

    
    <add key="todo:GameAPIAppId" value="92cf0dbd-b58c-45cb-981b-641a5d674163" />
    <add key="todo:GameAPIBaseAddress" value="http://40.114.179.71" />
  </appSettings>
</configuration>